.kalDocument {
    @apply bg-white md:my-[80px] md:mx-[20px];
}

.kalDocument > div {
    @apply md:max-w-[1140px] md:mx-auto md:mb-[40px];
}

.kalDocument > h2 {
    @apply text-black text-[32px] not-italic font-semibold leading-[50px] mb-[30px];
}

.highlight {
    @apply inline-block;
    background-size: 100% 10px !important;
    background-position: left 28px;
    background-image: linear-gradient(45deg, rgba(47, 201, 119, 0.4), rgba(47, 201, 119, 0.4));
    background-repeat: no-repeat;
    padding: 0 5px;
}

.selectDocument {
    @apply grid grid-cols-2 gap-2 md:flex md:gap-[20px] md:justify-center md:items-center md:flex-wrap;

}

.selectDocument > section {
    @apply md:w-[210px] md:h-[240px] p-4 md:p-[25px] box-border rounded-md border-2 border-[#efefef] md:transition-all md:ease-out md:duration-200 md:cursor-pointer;
}

.selectDocument > section > div {
    @apply w-[150px] h-[150px] mx-auto mb-[10px] box-border;
}

.selectDocument > section > div > img {
    @apply w-full h-full object-contain m-0 box-border;
}

.selectDocument > section > p {
    @apply text-black text-center text-[15px] not-italic font-semibold leading-[22px];
}

.partenairesCard {
    @apply flex flex-col gap-[15px];
}

.partenairesCardImage {
    @apply w-[80px] h-[80px];
}

.partenairesImage {
    @apply w-[80px] h-[80px] object-contain;
}

.partenairesCardImage > p {
    @apply text-[#4c4c4c] text-center text-[13px] not-italic font-light leading-[22px];
}

.partenaires {
    @apply flex flex-wrap gap-5 self-center h-fit;
}

.kalDocument2 {
    @apply rounded-lg bg-[#efefef] m-8 md:my-[40px] md:p-[40px] grid grid-rows-2 items-center justify-items-center md:flex md:flex-row gap-[20px];
}

.planchePhoto {
    @apply relative md:ml-[20px] items-center flex flex-col gap-[10px] md:justify-center w-screen;
}

.planchePhoto > Image {
    @apply justify-self-center;
}

/*.paragrapheBordure {
    @apply absolute w-[4px] h-[52px] bg-[#2fc977] left-[-20px] top-[-10px];
}*/

.paragraphe {
    @apply relative mx-10;
}

.paragraphe > p {
    @apply text-black text-[15px] not-italic font-light leading-[22px] border-l-2 border-primary px-5;
}

.planchePhoto > h3 {
    @apply text-black text-[22px] not-italic font-semibold justify-self-center;
}
